body{
    position: relative;
    background-size:cover;
    aspect-ratio: 1/1;
}
main{
    height:100vh;
}

main .booksGrid{
    display:grid;
    width:80%;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
}
.booksGrid .book , .booksGrid .addBook{
    height: 400px;
    padding: 10px;
    border: solid rgb(0,0,0,0.2) 1px;
    border-radius: 5px;
}

main .booksGrid .addBook{
    display:grid;
    align-content: center;
    place-items: center;
    border: dotted 2px rgb(0,0,0,0.4);
    color: grey;
}
.booksGrid .addBook span{
    font-size: 4rem;
    padding: 30px;
    width: 50px;
    height: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    border: solid 4px rgb(0,0,0,0.4);
    border-radius: 50vw;
}

dialog{
    position: absolute;
   
}
dialog .dialogTitle{
    font-size: 2rem;
    margin: 5px;
}
dialog form{
 display:grid;
    gap: 20px;
}
dialog form input:not(input[type="checkbox"]){
    display: block;
    width:100%;
}

